<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859840201738-4c794mkr8k3jvbj85mn29khgee4tlltu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859840201738-4c794mkr8k3jvbj85mn29khgee4tlltu</string>
	<key>API_KEY</key>
	<string>AIzaSyAoFe6gW05Pofmc1uXutPLqMHpbhu7FZ5I</string>
	<key>GCM_SENDER_ID</key>
	<string>859840201738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matheusoliveira.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-project-d4cb8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-project-d4cb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859840201738:ios:311766a3c9d0c9734d0bf3</string>
</dict>
</plist>